.oldNotes {
    background-color: #fff;
    border-radius: 30px;
    width: 50vw;
    font-size: 28px;
    padding: 3vw;
    height: fit-content;
    font-size: 24px;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.oldNotes > label {
    color: #297d77;
    font-weight: bold;
    font-size: 28px;
}