h3{
    color: #297d77;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.addThought{
    background-color: #fff;
    border-radius: 30px;
    width: 50vw;
    font-size: 28px;
    padding: 3vw;
    height: fit-content;
}
.addThoughtDiv {
    width: max-content;
}

.addThought > p {
    margin: 0;
}

.hint, .thoughtMistakes {
    font-size: 24px;
}

.addButton{
    font-size: 28px;
    background-color: #297d77;
    color: #fff;
    border-radius: 3vh;
    width: fit-content;
    border: 0;
    padding: 1vh;
}

.rightButton {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#question{
    background-image: url("../../../assets/question.png");
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    height: 7vh;
    width: 7vh;
    border-radius: 0%;
}
#question:hover {
    box-shadow: 2px 2px 10px #a0b1ab;
    border-radius: 100%;
}

#thoughtDate {
    font-size: 28px;
    font-family: myFont;
}

textarea{
    resize: none;
    height: auto;
    --widthB: 171.4px;
    width: calc(100% - var(--widthB));
}
.addThought > div > p:first-of-type > textarea  {
    --widthA: 90.7px;
    width: calc(100% - var(--widthA));
}

strong {
    color: #297d77;
}