.appHeader{
    background-color: #fff;
    border-radius: 30px;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}

.appBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.appBody > *{
    margin-top: 3vw;
    padding: 1vw;
}